@font-face {
    font-family: 'Pomeranian';
    src: url("./fonts/Pomeranian-Regular.ttf");
}

@font-face {
    font-family: 'Azuki';
    src: url("./fonts/azukiLP.ttf");
}

* {
    float:none;
    position:static;
}

img {
    max-width: 100%;
    height: auto;
}

#loader{
    background: #CDF0EA;
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:10;
}

#loader p{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    font-size: 32px;
}

#loader #loadbox{
    width:50px;
    height:50px;
    display: block;
    position: fixed;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#F6C6EA;
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode:forwards;
    animation-play-state:running;
}
@keyframes load{
    0%{
        width:50px;
        height:50px;
        
    }

    25%{
        width:100px;
    }

    50%{
        width:50px;
        height:50px;
    }

    75%{
        height:100px;
    }

    100%{
        width:50px;
        height:50px;
    }
}

h1{
    background-color: #f9f9f9;
    font-family:'Pomeranian';
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
}

h2{
    font-family: 'Pomeranian';
}

body{
    background-color: #CDF0EA;
    text-align: center;
}

#header{
    width:100%;
    height:100vh;
    position:relative;
    text-align: center;
}

#container{
    position:relative;
    z-index: 1;
    background: #CDF0EA;
    background-size:100%;
    border-top-style: dashed;
}

#about{
    background-color: #F6C6EA;
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
}

#createdby{
    background-color: #f9f9f9;
    display: inline-block;
    margin-left: 30px;
    padding: 30px;
    border-radius: 20px;
}

#tosister{
    margin-top: 2cm;
    background-color: #FAF4B7;
    display:inline-block;
    padding: 30px;
    border-radius: 20px;
}

p{
    font-family: 'Azuki';
}

.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime{
    from{
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUpTrigger{
    opacity:0;
}

.changeline{
    display:none;
}

@media screen and (max-width:480px){
    h1{
        font-size: 32px;
    }

    #createdby{
        margin-left: 0px;
        margin-top: 30px;
    }

    .changeline{
        display:block;
    }
}
